@import url("reset.css");

/* standard classes */
.link-style{
  text-decoration: none;
  color: black;
}

.touppercase{
  text-transform: uppercase;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.underline-hover:hover {
  text-decoration: underline;
}

.social-buttons {
  color: white;
  background-color: #376A92;
  padding: 10px;
  border: 1px solid rgb(60, 104, 145);
  border-radius: 5px;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* navigation bar */
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    padding: 4px 15px 2px;
}

.nav-left a {
  font-size: 14px;
  font-weight: bolder;
  font-family: Helvetica, Arial;
}

.nav-left a:nth-child(3) {
  padding-left: 15px;
}

.nav-icon {
    width: 16px;
    height: 16px;
    padding: 9px;
}
.main-logo {
    width: 195px;
}

.nav-right button {
  margin: 0 5px;
}

/* main content */
.container {
  position: relative;
  top: 80px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.content {
  
}

.content img {
  margin-top: 30px;
  width: 1200px;
}